h1 {
    background-color: aqua;
    color: white;
}


ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: flex;
    flex: 1;
    margin: 5px;
    background-color: rgb(60, 68, 180);
    justify-content: center;
    align-items: center;
  }
  